@model CMS_DTO.CMSCrawler.CMS_CrawlerModels
@using CMS_Shared
@using CMS_Shared.Utilities
<style>
    p{
        margin:5px 0 !important;
    }
</style>
@if (Model != null && Model.Pins != null && Model.Pins.Any())
{
    <div class="form-group" style="position: static; ">
        @foreach (var item in Model.Pins)
        {
            var ImageUrl = item.Images != null && item.Images.Count > 0 ? item.Images.FirstOrDefault().url : "";
                    <div class="col-md-2 col-sm-2 col-xs-12" style="margin-bottom:20px;padding-top:10px;border:1px solid rgba(0,0,0,.1);border-radius:5px !important;min-height:550px; position: relative; overflow: hidden" id="@item.ID">
                        <div style="margin-bottom:10px;">
                            @if (!string.IsNullOrEmpty(item.Link))
                            {
                                <a class="fa fa-remove" style="right: 9px; position: absolute; font-size: 25px; background-color: red; color: #fff; padding: 5px; text-decoration: none;" title="Delete" onclick="DeletePin('@item.ID')"></a>
                                <a href="@item.Link" target="_blank">
                                    <img src="@ImageUrl" class="img-responsive" alt="@item.Domain" height="236" style="border-radius:5px !important">
                                </a>
                            }
                            else
                            {
                                <a class="fa fa-remove" style="right: 9px; position: absolute; font-size: 25px; background-color: red; color: #fff; padding: 5px; text-decoration: none;" title="Delete" onclick="DeletePin('@item.ID')"></a>
                                <a href="https://facebook.com/@item.ID/" target="_blank">
                                    <img src="@ImageUrl" class="img-responsive" alt="@item.Domain" height="236" style="border-radius:5px !important">
                                </a>
                            }
                        </div>
                        <div class="info" style="font-size: 13px !important; ">
                            <div style="text-align: center;">
                                <table style="background-color:#e9ebee;height:35px;line-height:35px;border-radius:5px !important; margin-bottom: 5px !important; width: 100% ">
                                    <tr>
                                        <td><span style="text-align: left !important; ">@item.reactioncount <i class="fa fa-heart-o" style="font-size:14px;"></i></span></td>
                                        <td><span style="text-align: center !important; ">@item.commentTotalCount <i class="fa fa-commenting-o" style="font-size:14px;"></i></span></td>
                                        <td><span style="text-align: right !important; ">@item.sharecount <i class="fa fa-share-square-o" style="font-size:14px;"></i></span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="info-domain" style="background-color:#cce5ff;border-radius:1px !important;height:50px; vertical-align: middle; overflow: hidden">
                                <table>
                                    <tr>
                                        <td style="padding-right: 5px; "><img src="@item.AvatarUrl" /></td>
                                        <td style="font-size: 11px;"><a href="@string.Format("{0}", string.IsNullOrEmpty(item.Link) ? "javascript:void(0)" : item.Link)" style="color:#004085;font-weight:bold; text-decoration: none" target="_blank" title="@item.Link">@string.Format("{0}", !string.IsNullOrEmpty(item.OwnerName) && item.OwnerName.Length > 17 ? item.OwnerName.Substring(0, 17) + "..." : item.OwnerName)<span style="vertical-align: super;"><br />&nbsp;&nbsp; @item.Created_At.ToString("dd/MM/yyyy")</span></a></td>
                                    </tr>
                                </table>
                            </div>
                            @if (item.Description != null && item.Description.Length > 0)
                            {
                                <div style=" background-color:#d4edda;border-radius:5px !important; margin-bottom: -5px !important; padding-left: 5px; padding-right: 5px;height:150px; display: -webkit-box; overflow: overlay;">
                                    <p>
                                        @Html.Raw(item.Description)
                                        @*@string.Format("{0}", !string.IsNullOrEmpty(item.Description) && item.Description.Length > 70 ? item.Description.Substring(0, 70) + "..." : item.Description)*@
                                    </p>
                                </div>
                            }
                            <div style="text-align: center; margin-top: 9px;">
                                <table style="background-color:#e9ebee;height:24px;line-height:24px;border-radius:5px !important; margin-bottom: 5px !important; width: 100% ">
                                    <tr>
                                        <td><span>@CommonHelper.GetDurationPostFromNow(item.CreatedDate) </span></td>
                                    </tr>
                                </table>
                            </div>
                            <p style="background-color:#f8d7da;height:25px;line-height:25px;border-radius:5px !important;text-align: center; font-size: 12px;">&nbsp;&nbsp;<span style="color:#721c24;font-weight:bold">@string.Format("{0}", !string.IsNullOrEmpty(item.KeyWord) && item.KeyWord.Length > 24 ? item.KeyWord.Substring(0, 24) + "..." : item.KeyWord)</span> </p>
                        </div>
                    </div>
        }
    </div>
}

<script type="text/javascript">
    function DeletePin(id) {
        $.ajax(
        {
            url: '@Url.Action("DeletePin", "CMSProducts")',
            type: 'get',
            data: {
                ID: id
            },
            dataType: 'html',
            success: function () {
                $('#' + id).hide();
                $('.se-pre-con').hide();
            },
            beforeSend: function () {
                $('.se-pre-con').show();
            },
            complete: function () {
                $('.se-pre-con').hide();
            },
            error: function (e) {
            if (e.status == 400) {
                alert("Can not delete this Post!");
            }
            else {
                $('#' + id).hide();
            }
            $('.se-pre-con').hide();
            }
        });
    }
</script>
